* {
  text-align: center;
  font-family: Roboto Condensed, sans-serif;
}

body {
  background-color: #fff9e6;
}

.inputWords {
  padding-bottom: 1em;
}

.submit {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
